# Dados basicos da aplicação
APP_NAME="Onboarding backend - exercícios"
APP_DESCRIPTION="API desenvolvida pela Pináculo Digital"
APP_VERSION="0.0.1"

# Configurações do servidor
PORT=3003

# Configuracões do banco de dados

# Local
DATABASE_URL="postgresql://{SEU_USUARIO}:{SUA_SENHA}@localhost:5432/{SEU_BANCO_DE_DADOS}"